@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.navbar {
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 0px;
  min-height: 72px;
}

.navbar-brand {
  font-size: 32px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
}

.flex-item-1 {
  min-width: 300px;
  min-height: 100px;
}

.flex-item-2 {
  min-width: 400px;
  min-height: 100px;
}

.filter-item {
  margin-top: 20px;
}

.daterangepicker {
  background: #222222;
  color: #fff;
}

.daterangepicker .calendar-table {
  background: rgba(0,0,0,.1);
  border: 0px;
}

.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
  background: rgba(0,0,0,.1);
}

.form-control {
  height: 30px;
  line-height: 1.1;
}

h4 {
  margin-bottom: 15px;
}