<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>Arya</title>
  <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

	<nav class="navbar navbar-default">
	    <div class="container-fluid">
	      <!-- Brand and toggle get grouped for better mobile display -->
	      <div class="navbar-header">
	        <a class="navbar-brand" href="#">Arya Relevance Score <small>Alpha</small></a>
	      </div>
	    </div><!-- /.container-fluid -->
  	</nav>

  	<div class="container">
    <div class="row">
      <div class="flex-container">
      	
        <div class="flex-item flex-item-1" id="sidebar">
        <form method="post" action="retrieve_products">
        	<div class="row">
	            <div class="col-md-12">
	              <h4>Select a category</h4>
	              <select class="selectpicker" name="category" id="categories" data-live-search="True" data-max-options="1" multiple>
	                <% _.forEach(categories, function(category, i) { %>
	                    <option value="<%= category.id %>"><%= category.name %></option>
	                <% }) %>
	              </select>
	            </div>
	         </div>
        	<div class="row">
            	<div class="col-md-12">
              		<h4>Select conversion weight</h4>
                	<input type="text" class="btn btn-default" name="conversion" required/>
            	</div>
          	</div>
          	<div class="row">
            	<div class="col-md-12">
              		<h4>Select gmv weight</h4>
                	<input type="text" class="btn btn-default" name="gmv" required/>
            	</div>
          	</div>
          	<div class="row">
            	<div class="col-md-12">
              		<h4>Select price score weight</h4>
                	<input type="text" class="btn btn-default" name="price_score" required/>
            	</div>
          	</div>
          	<div class="row">
            	<div class="col-md-12">
              		<h4>Select dispute weight</h4>
                	<input type="text" class="btn btn-default" name="dispute" required/>
            	</div>
          	</div>
          	<div class="row">
            	<div class="col-md-12">
              		<h4>Select rto weight</h4>
                	<input type="text" class="btn btn-default" name="rto" required />
            	</div>
          	</div>
          <!-- <div class="row">
            <div class="col-md-12">
              <h4>Select a category</h4>
              <select class="selectpicker" id="categories" data-live-search="True" data-max-options="1" multiple>
                <% _.forEach(categories, function(category, i) { %>
                    <option data-category-id="<%= category.id %>"><%= category.name %></option>
                <% }) %>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Select an attribute</h4>
              <select class="selectpicker" id="attributes" data-live-search="True" data-max-options="1" multiple>
                <option></option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Select the attribute value</h4>
              <select class="selectpicker" id="attribute-values" data-live-search="True" data-max-options="1" multiple>
                <option></option>
              </select>
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-12 filter-item">
            	<input type="submit" value="Submit" class="btn btn-success visualize">
            </div>
          </div>
        </form>
        </div>
        
        {% if result %}
        <div class="flex-item flex-item-2">
          <div class="row">
            <div class="col-md-12">
              <h4>{{ result | safe }}</h4>
            </div>
          </div>
          <div class="row" id="loading">
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="myDiv">
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

  <script type="text/javascript">
  	$(function() {
  		var cats = [];
      d3.json("{{ url_for('static', filename='categories.json') }}", function(categories) {
        cats = categories;
        var tmpl = $("#categories").html().replace(/&lt;/g, '<').replace(/&gt;/g, '>');
        tmpl = _.template(tmpl);
        tmpl = tmpl({categories: categories});
        $("#categories").html(tmpl);  
        $('.selectpicker#categories').selectpicker('refresh');
      })
  })
   </script>
</body>
</html>
